<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">list</mat-icon>
    </ng-template>
    <mat-card *ngFor="let registration of actual" class="registration">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="icon">
          <mat-icon [inline]="true">face</mat-icon>
        </div>
        <mat-card-title>{{registration.team.name}}</mat-card-title>
        <mat-card-subtitle>{{registration.team.coach}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <mat-grid-list cols="3" rowHeight="60px">
          <mat-grid-tile>
            <div class="team">
              <span class="team-location">Ciudad</span>
              <span class="team-category">{{registration.divisionGroup.category.name}}</span>
              <span class="team-division">{{registration.divisionGroup.division.name}}</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="level">
              <span class="team-level">{{registration.divisionGroup.level.name}}</span>
              <span>Nivel</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="points">
              <span class="team-points">{{registration.points}}</span>
              <span>Pts</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="card-footer">
        <button (click)="setPending(registration)" mat-button>
          <mat-icon>history</mat-icon>
          Pendiente
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">history</mat-icon>

    </ng-template>
    <mat-card *ngFor="let registration of pendiente" class="registration">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="icon">
          <mat-icon [inline]="true">face</mat-icon>
        </div>
        <mat-card-title>{{registration.team.name}}</mat-card-title>
        <mat-card-subtitle>{{registration.team.coach}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <mat-grid-list cols="3" rowHeight="60px">
          <mat-grid-tile>
            <div class="team">
              <span class="team-location">Ciudad</span>
              <span class="team-category">{{registration.divisionGroup.category.name}}</span>
              <span class="team-division">{{registration.divisionGroup.division.name}}</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="level">
              <span class="team-level">{{registration.divisionGroup.level.name}}</span>
              <span>Nivel</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="points">
              <span class="team-points">{{registration.points}}</span>
              <span>Pts</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Historial">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">check_circle_outline</mat-icon>

    </ng-template>
    <mat-card *ngFor="let registration of historial" class="registration">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="icon">
          <mat-icon [inline]="true">face</mat-icon>
        </div>
        <mat-card-title>{{registration.team.name}}</mat-card-title>
        <mat-card-subtitle>{{registration.team.coach}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <mat-grid-list cols="3" rowHeight="60px">
          <mat-grid-tile>
            <div class="team">
              <span class="team-location">Ciudad</span>
              <span class="team-category">{{registration.divisionGroup.category.name}}</span>
              <span class="team-division">{{registration.divisionGroup.division.name}}</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="level">
              <span class="team-level">{{registration.divisionGroup.level.name}}</span>
              <span>Nivel</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="points">
              <span class="team-points">{{registration.points}}</span>
              <span>Pts</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
