table {
  width: 100%;
  
}

.registration {
  margin: 50px auto;
  max-width: 800px;
  height: 200px;
  cursor: pointer;
}

mat-tab {
  padding: 0px 20px;
}

.level>span,
.points>span {
  text-align: center;
}

.team-level,
.team-points {
  font-size: 42px;
}

.team>span,
.level>span,
.points>span {
  display: block;
  margin-bottom: 3px;
}

.team,
.points,
.level {
  width: 100%;
  padding: 10px;
}

.icon {
  font-size: 42px;
  margin-right: 10px;
}

.card-content {
  margin-top: 20px;
}

.tab-icon {
  margin-right: 0px;
}

.btn-go {
  float: right;
  margin-right: -30px !important;
}

.wrapper-go {
  width: 100%;
  text-align: right;
}

.wrapper-pending {
  width: 100%;
  text-align: left;
}

.bookmark-label {
  float: right;
  padding: 0px;
  margin-right: -15px;
  margin-top: -30px !important;
  font-size: 35px;
  min-width: 40px;
  width: 50px;
}

.not-found-container{

  margin: 100px auto;
  text-align: center;
  
}
.not-found-container > span{
  font-size: 5em;
}

.completed{
    background-color: #dff6df;
}

.pending{
    background-color: #ffffdd;
}

.mat-header-cell{
    color: white;
    font-size: 1em;
    font-weight: bold
}

tr.mat-header-row {
    height: 56px;
    background-color: #697ca3;
}

mat-icon{
    vertical-align: middle;
    position: relative;
    top: 2px;
    font-size: 16px;
}
.status-onTime{
    color:#697ca3;
}
.status-pending{
    color:#7a7a3e;
}
.status-finished{
    color: #198919;
}