.registration {
    margin: 30px 20px;
    cursor: pointer;
  }
  
  
  .level > span, .points > span {
    text-align: center;
  }
  
  .team-level, .team-points {
    font-size: 42px;
  }
  
  .team>span,
  .level>span,
  .points>span {
    display: block;
    margin-bottom: 3px;
  }
  
  .team , .points , .level {
      width: 100%;
      padding: 10px;
  }
  
  .icon{
    font-size: 42px;
    margin-right: 10px;
  }
  
  .card-content{
    margin-top: 20px;
  }
  


  .tab-icon{
    margin-right: 0px;
  }

  .btn-go{
    float: right;
    margin-right: -30px !important;
  }

  .wrapper-go{
    width: 100%;
    text-align: right;
  }

  .wrapper-pending{
    width: 100%;
    text-align: left;
  }

  .bookmark-label{
    float: right;
    padding: 0px;
    margin-right: -15px;
    margin-top: -30px !important;
    font-size: 35px;
    min-width: 40px;
    width: 50px;
  }