table {
  width: 100%;
  
}




mat-icon{
    vertical-align: middle;
    position: relative;
    top: 2px;
    font-size: 16px;
}
.status-onTime{
    color:#697ca3;
}
.status-pending{
    color:#7a7a3e;
}
.status-finished{
    color: #198919;
}
.completed{
  background-color: #dff6df;
}

.pending{
  background-color: #ffffdd;
}