.division{

    cursor: pointer;

    width: 150px;
    font-size: 2em;
}
.division:active {
   -webkit-box-shadow: inset 0px 0px 3px rgb(163, 163, 163);
   -moz-box-shadow:    inset 0px 0px 3px rgb(163, 163, 163);
   box-shadow:         inset 0px 0px 3px rgb(163, 163, 163);
}


.title{
    font-size: 18px;
}

.subtitle{
    font-size: 13px;
}


.group-container {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  width: 100%;
  height: 100%;
}
.groups{
    background-color: white;
    width: 320px;
    min-width: 300px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right-style: inset;
    border-right-width: 0.7px;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    
}
.groups::-webkit-scrollbar { 
    display: none;  
}


.content{
    width: 100%;
    /* margin: 30px 30px 0px -35px; */
    overflow: scroll;
    padding: 50px 60px;
    background-color: white;
}


.group-border {
    background-color: white;
    padding: 25px 0px 25px 30px;
    display: inline-block;
    width: 275px;
    border-bottom-width: 1px;
    border-bottom-style: inset;
}

/* .division-selected:after {
    content: '';
    display: block;
    position: absolute;
    left: 125%;
    top: 50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid #eeeeef;
} */

.division-selected{
    cursor: pointer;
    width: 264px;
    font-size: 2em;
    border-right-width: 6px;
    border-right-style: inset;
    border-right-color: #697ca399;
    background-color: #697ca31c;
}

.groups-title{
    width: 100%;
    padding: 18px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #697ca3;
}

::ng-deep td.mat-cell {
    cursor: pointer !important;
}