/*Main Container*/
.stepper-container{
  margin: 0 auto 30px auto;
  max-width: 900px;
}

.parent-category {
  margin: 10px 20px;
  min-width: 220px;
}

.card-content {
  margin-top: 20px;
}

.categories {
  margin: 30px 10px;
}

.score-metrics {
  padding: 0px 0px;
}

.metric-container {
  display: block;
}


.metric {
  width: 100%;
  min-width: 150px;
}

.align-right {
  text-align: right;
}

textarea {
  height: 100px;
  width: 100%;
}

.error-message {
  font-size: 10px;
  color: red;
}

.button-finish,
.button-pending {
  width: 100%;
  font-size: 10px;
}

.button-pending {
  text-align: right;
  margin-right: 10px;
}

.button-finish {
  margin-left: 10px;
}



.accordion-container .mat-expansion-panel-header-title,
.accordion-container .mat-expansion-panel-header-description {
  flex-basis: 50%;
  font-weight: bold;
  color: #757575 !important;
}

.accordion-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: right;
  font-size: 1.5;
}



.mat-expansion-panel-header.mat-expanded {
  background: #f8f8f8f5 !important;
  background-color: white;
  margin-bottom: 15px;
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title,
.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-description {
  color: #757575 !important;

}

.slider-margin {
  width: 100%;
  margin: 10px 0px;
}

::ng-deep .mat-stepper-vertical .mat-step-header{
  background-color: #f8f8f8f5 !important;
}
::ng-deep .mat-step-label {
  width: 100% !important;
}

::ng-deep .mat-vertical-content{
  padding: 24px !important;
}
.step-title {
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  margin-top: 5px
}


.step-description {
  float: right;
  background-color: #BDBDBD;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  display: block;
  border-radius: 50px;
}


table.stats {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
  width: 100%;
}

table.stats td, th {
  border-bottom-color: rgba(0,0,0,.12);
  text-align: left;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-collapse: separate;
  display: table-cell;
  font-size: 14px;
  color: #757575;
}

table.stats tr{
  height: 48px;
}

table.stats tr:last-child { 
  font-weight: bold;
}

table.stats tr:last-child td{
  border-bottom-width: 0; 
  border-bottom-style: none;
}

/*
table.stats tr:nth-child(even) {
  background-color: #eee;
}*/

table.stats .td-right{
  text-align: left;
  padding-right: 24px
}

table.stats .td-left{
  text-align: left;
  padding-left: 24px
}

table.final-stats{
  width: 100%;
}

.stats-container{
  margin-top: 15px;
}

.wrapper-pending {
  width: 100%;
  text-align: right;
}

.wrapper-finish {
  width: 100%;
  text-align: left;
}

.btn-go{
  margin-left: 15px !important;
}

.btn-pending{
  margin-right: 15px !important;
}

.mat-card-title{
  font-weight: bolder;
  color: #757575 !important;
  font-size: 1.1em;
}

.team-profile{
  max-width: 900px;
  margin:auto;
  display: flex;
  flex-direction: row;
}


.team-info{
  flex-grow: 1;  
  padding: 45px 5px 45px 35px;
}

.team-category{
  flex-grow: 1;  

  padding: 45px 0px 45px 0px;
}

.team-level{
  flex-grow: 1;  
  padding: 45px 0px 45px 0px;
  text-align: center;
}


.name{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}

.coach{
  font-weight: bolder;
  font-size: 1.5em;
  color: #757575;
  margin-bottom: 10px;
}

.division{
  font-size: 2em;
  font-weight: bolder;
  color: #757575;
  margin-bottom: 10px;
}
.gender{
  font-size: 1.5em;
  font-weight: bold;
  color: #757575;
}

.level{
  font-weight: bolder;
  color: #757575;
  font-size: 3em;
}

.levelLabel{
  font-weight: bolder;
  color: #757575;
}

.location{
  color: #757575;
  font-weight: bold;
}

.dialog-result{
  margin-top: 25px;
  margin-bottom: 25px;
}


@media only screen and (max-width:1100px) {
  .stepper-container{
    margin: auto;
    max-width: 650px;
  }

  .team-profile{
    max-width: 700px;
    margin:auto;
    display: flex;
    flex-direction: row;
  }

  .team-info{
    flex-grow: 1;  
    padding: 35px 5px 35px 35px;
  }
  
  .team-category{
    flex-grow: 1;  
  
    padding: 35px 0px 35px 0px;
  }
  
  .team-level{
    flex-grow: 1;  
    padding: 35px 0px 35px 0px;
    text-align: center;
  }
  
  
  .name{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .coach{
    font-weight: bolder;
    font-size: 1em;
    color: #757575;
    margin-bottom: 5px;
  }
  
  .division{
    font-size: 1.5em;
    font-weight: bolder;
    color: #757575;
    margin-bottom: 5px;
  }
  .gender{
    font-size: 1em;
    font-weight: bold;
    color: #757575;
  }
  
  .level{
    font-weight: bolder;
    color: #757575;
    font-size: 2em;
  }
  
  .levelLabel{
    font-weight: bolder;
    color: #757575;
  }

  .location{
    color: #757575;
    font-weight: bold;
  }
}



@media only screen and (max-width:900px) {
  .stepper-container{
    margin: auto;
    max-width: 500px;
  }

  .team-info{
    flex-grow: 1;  
    padding: 35px 5px 35px 35px;
  }
  
  .team-category{
    flex-grow: 1;  
  
    padding: 35px 0px 35px 0px;
  }
  
  .team-level{
    flex-grow: 1;  
    padding: 35px 0px 35px 0px;
    text-align: center;
  }
  
  
  .name{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .coach{
    font-weight: bolder;
    font-size: 1em;
    color: #757575;
    margin-bottom: 5px;
  }
  
  .division{
    font-size: 1.5em;
    font-weight: bolder;
    color: #757575;
    margin-bottom: 5px;
  }
  .gender{
    font-size: 1em;
    font-weight: bold;
    color: #757575;
  }
  
  .level{
    font-weight: bolder;
    color: #757575;
    font-size: 2em;
  }
  
  .levelLabel{
    font-weight: bolder;
    color: #757575;
  }

  .location{
    color: #757575;
    font-weight: bold;
  }
}

@media only screen and (max-width:375px) {
 
  
  .team-info{
    flex-grow: 1;  
    padding: 25px 5px 25px 25px;
  }
  
  .team-category{
    flex-grow: 1;  
  
    padding: 25px 0px 25px 0px;
  }
  
  .team-level{
    flex-grow: 1;  
    padding: 25px 0px 25px 0px;
    text-align: center;
  }
  
  
  .name{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .coach{
    font-weight: bolder;
    font-size: 0.8em;
    color: #757575;
    margin-bottom: 5px;
  }
  
  .division{
    font-size: 1em;
    font-weight: bolder;
    color: #757575;
    margin-bottom: 5px;
  }
  .gender{
    font-size: 0.8em;
    font-weight: bold;
    color: #757575;
  }
  
  .level{
    font-weight: bolder;
    color: #757575;
    font-size: 1.5em;
  }
  
  .levelLabel{
    font-weight: bolder;
    color: #757575;
  }

  .location{
    color: #757575;
    font-weight: bolder;
    font-size: 0.7em;
  }
}


