.scoresheet-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: white
}

/*Main Container*/
.stepper-container{
    /* width: 100%; */
    /* margin: 30px auto; */
    overflow: scroll;
    padding:50px;
    background-color: white;

}

.stepper-container::-webkit-scrollbar { 
  display: none;  
}

.parent-category {
  margin: 10px 20px;
  min-width: 220px;
}


.card-content {
  margin-top: 20px;
}

.categories {
  margin: 30px 10px;
}

.score-metrics {
  padding: 0px 0px;
}

.metric-container {
  display: block;
}




.align-right {
  text-align: right;
}

textarea {
  height: 100px;
  width: 100%;
}

.error-message {
  font-size: 10px;
  color: red;
}

.button-finish,
.button-pending {
  width: 100%;
  font-size: 10px;
}

.button-pending {
  text-align: right;
  margin-right: 10px;
}

.button-finish {
  margin-left: 10px;
}



.accordion-container .mat-expansion-panel-header-title,
.accordion-container .mat-expansion-panel-header-description {
  flex-basis: 50%;
  font-weight: bold;
  color: #757575 !important;
}

.accordion-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: right;
  font-size: 1.5;
}

.accordion-container{
  margin: 20px;
  width: 800px;
}


.mat-expansion-panel-header.mat-expanded {
  background: #5f749ef5 !important;
  background-color: white;
  margin-bottom: 15px;
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title,
.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-description {
  color: #ffffff !important;

}




.step-title {
  font-size: 1.7em;
  font-weight: bold;
  float: left;
  margin-top: 2px;
}


.step-description {
    float: right;
    background-color: #BDBDBD;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    display: block;
    border-radius: 5px;
    margin-left: 25px;  
}


 table.stats {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
    width: 100%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,.12);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,.12);
} 

table.stats td, th {
  border-bottom-color: rgba(0,0,0,.12);
  text-align: left;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-collapse: separate;
  display: table-cell;
  font-size: 14px;
  color: #757575;
}

table.stats tr{
  height: 35px;
}

table.stats tr:last-child { 
  font-weight: bold;
}

table.stats tr:last-child td{
  border-bottom-width: 0; 
  border-bottom-style: none;
} 



table.stats .td-right{
  text-align: left;
  padding-right: 24px
}

table.stats .td-left{
  text-align: left;
  padding-left: 24px
}

table.final-stats{
  width: 100%;
}

.stats-container{
    margin: 0px auto 50px auto;
}

.wrapper-pending {
  width: 100%;
  text-align: right;
}

.wrapper-finish {
  width: 100%;
  text-align: right;
}

.btn-go{
  margin-left: 15px !important;
  background-color: #697ca3;
  color: white;
}

.btn-pending{
  margin-right: 15px !important;
}

.mat-card-title{
  font-weight: bolder;
  color: #757575 !important;
  font-size: 1.1em;
}


/*
    Team information
*/
.team-profile{
    width: 324px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    background-color: white;
    border-right-style: inset;
    border-right-width: 1px;
}

.team-info{
    margin-bottom: 10px;
    color: #697ca3;
}

.team-category{
    margin-bottom: 10px;
    color: #697ca3;
}

/* .team-level{
  text-align: center;
} */
.name{
  font-weight: bold;
  font-size: 1.5em;
}
.coach{
  font-weight: bolder;
  font-size: 1em;
  color: #757575;
}

.division{
  font-size: 0.9em;
  font-weight: bolder;
  color: #757575;
}
.gender{
  font-size: 1em;
  font-weight: bold;
  color: #757575;
}

.level{
  font-weight: bolder;
  color: #757575;

}

.levelLabel{
  font-weight: bolder;
  color: #757575;
}

.location{
  color: #757575;
  font-weight: bold;
}

.dialog-result{
  margin-top: 25px;
  margin-bottom: 25px;
}


/*
    stepper
*/
::ng-deep .mat-stepper-vertical .mat-step-header{
  background-color: white !important;
  
}

::ng-deep .mat-stepper-vertical{

    margin: auto 0;
    padding: 0px 20px 0px 0px !important;
}
::ng-deep .mat-step-label {
  width: 100% !important;
}

::ng-deep .mat-vertical-content{
    padding: 0px 15px 0px 0px !important;
}
/*
    slider bar
*/
mat-slider:hover{
    cursor: pointer;
}

  ::ng-deep.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
  
  ::ng-deep.mat-slider-thumb {
    transform: scale(0) !important;
  }
  
  ::ng-deep.mat-slider-thumb-label-text {
    opacity: 3 !important;
  }

::ng-deep .mat-slider-track-fill {
    background-color:#5f749ef5 !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #5f749ef5 !important;
    color: #fff;
}

::ng-deep  .mat-step-header .mat-step-icon-state-edit {
    background-color: #5f749ef5 !important;
    color: #fff;
}



::ng-deep .mat-primary .mat-slider-thumb-label{
    background-color:#5f749ef5 !important;
}

  /*
    Metric
  */

.metric {
  margin-right: 30px;
}


.metric-text{
      width: 100%;
  min-width: 150px;
}

.metric-label{
    flex-grow: 1;
    width: 120px;
    padding-top: 27px;
}

.slider-margin {
    width: 100%;
    margin: 10px 50px 10px 0px;
    flex-grow: 2;
}


.tic-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    margin-top: -23px;
}
.slider-tic{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    /* background: #989393; */
    /* height: 10px; */
    /* line-height: 25px; */
    /* margin-bottom: 27px; */
    color: #848484;
    font-size: 0.7em;
    margin-top: -3px;
    /* margin-left: 1px; */
}

mat-divider.team-divider{
    margin: 20px 0px;
}

.back-to-groups{
    padding: 14px 0px;
    cursor: pointer;
    color: #e43535;
}


.back-to-gropus-divider{
    margin-bottom: 15px;
}



.card-footer{
    display: flex;
    flex-direction: row;
    -ms-flex-align: end;
}

.deduction-score{
    margin-left: 25px;
}


.category-container{
    margin-bottom: 10px;
    background-color: #6679a1;
    color: white;
 
    padding: 10px;
}

.metric-container{
    display: flex;
    margin-bottom: 25px;
    padding: 15px 0px 15px 25px;
}


/* ::ng-deep .metric .mat-form-field-wrapper {
    padding-bottom: 1.25em !important;
    width: 120px !important;
} */

.metric-wrapper-text {
    width: 100%;
}

