<div class="stepper-container">

  <mat-vertical-stepper [linear]="false" #stepper>

    <div *ngFor="let parent of scoreSheet |getMapValues; index as parentIndex; last as parentLast ">
      <mat-step>
        <ng-template matStepLabel *ngIf="parent.val.name !== OTHERS">
          <div class="label-template">
            <div class="step-title">{{parent.val.name}}</div>
            <div class="step-description">{{result[parentIndex].subTotal}} / {{result[parentIndex].total}}</div>
          </div>
        </ng-template>
        <ng-template matStepLabel *ngIf="parent.val.name == OTHERS">
          <div class="step-title">{{parent.val.name}}</div>
        </ng-template>
        <mat-accordion class="accordion-headers">
          <mat-expansion-panel (opened)="setStep(parentIndex, i)" [expanded]="parentAccordion[parentIndex] === i"
            hideToggle *ngFor="let scoreCategory of parent.val.scoreCategories; index as i; first as isFirst; last as isLast">

            <mat-expansion-panel-header>
              <mat-panel-title class="panel-header-title">
                {{scoreCategory.name}}
              </mat-panel-title>
              <mat-panel-description *ngIf="parent.val.name !== OTHERS">
                <!-- {{getSubTotal(parent.key, scoreCategory.id)}} -->
                {{result[parentIndex]["childStat"][i].subTotal}} / {{result[parentIndex]["childStat"][i].total}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div div *ngFor="let metric of scoreCategory.scoreMetrics" class="metric-container">
              <div *ngIf="metric.name !== TEXT_SCORE_METRIC" class="metric">

                <div *ngIf="metric.element.value">
                  <div>{{metric.name}}: {{ metric.element.value }} / {{metric.element.maxScore}}</div>
                </div>
                <div *ngIf="!metric.element.value">
                  <div>{{metric.name}}: {{ metric.element.minScore }} / {{metric.element.maxScore}}</div>
                </div>
                <div class="slider-margin">
                  <mat-slider class="slider-margin" max="{{metric.element.maxScore}}" min="{{metric.element.minScore}}"
                    step="0.5" thumbLabel tickInterval="1" [(ngModel)]="metric.element.value" (change)=getTotal()>
                  </mat-slider>
                </div>

              </div>

              <mat-form-field *ngIf="metric.name === TEXT_SCORE_METRIC" class="metric text" appearance="outline">
                <textarea [(ngModel)]="metric.element.value" matInput> </textarea>
              </mat-form-field>
            </div>

            <mat-action-row *ngIf="isFirst && !isLast">
              <button mat-button color="primary" (click)="nextStep(parentIndex, i)">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </mat-action-row>

            <mat-action-row *ngIf="!isFirst && !isLast">
              <button mat-button color="warn" (click)="prevStep(parentIndex, i)">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button mat-button color="primary" (click)="nextStep(parentIndex, i)">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </mat-action-row>

            <mat-action-row *ngIf="isLast && !isFirst">
              <button mat-button color="warn" (click)="prevStep(parentIndex, i)">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button mat-button color="primary" (click)="nextStep(parentIndex, i)" matStepperNext>
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </mat-action-row>

            <mat-action-row *ngIf="isLast && isFirst">
              <button mat-button color="primary" (click)="nextStep(parentIndex, i)" matStepperNext>
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </mat-action-row>


          </mat-expansion-panel>


        </mat-accordion>
      </mat-step>

      <mat-step *ngIf="parentLast">
        <ng-template matStepLabel class="label-template">
          <span class="step-title">Fin</span>
        </ng-template>
        <table>
          <tr *ngFor="let item of result" class="total-review">
            <td class="td-left">
              <span>{{item.name}} </span>
            </td>
            <td class="td-right">
              <span> {{item.subTotal}} / {{item.total}}</span>
            </td>
            <br>
          </tr>
        </table>
      </mat-step>
    </div>



  </mat-vertical-stepper>

</div>
<div>


</div>
